// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.row {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-6 {
    flex-basis: 50%;
    max-width: 50%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 500;
}

.light {
    font-weight: 300;
}

.uppercase {
    text-transform: uppercase;
}
