// -----------------------------------------------------------------------------
// This file contains Typography styles
// -----------------------------------------------------------------------------

html {
    font-size: 62.5%;
}

html, 
body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
    color: $color-secondary;
}

p {
    font-size: 2.5rem;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 500;
}

.uppercase {
    text-transform: uppercase;
}
