// -----------------------------------------------------------------------------
// This file contains Typography styles
// -----------------------------------------------------------------------------

html {
    font-size: 62.5%;
}

html, 
body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
    color: $color-secondary;

    @include media-query-phone {
        font-size: 3rem;
    }
}

h2 {
    font-size: 3.5rem;
    font-weight: 700;

    @include media-query-phone {
        font-size: 2rem;
    }
}

p {
    font-size: 1.7rem;
    line-height: 1.6;
}