// -----------------------------------------------------------------------------
// This file contains Typography styles
// -----------------------------------------------------------------------------

html {
    font-size: 62.5%;
}

html, 
body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
    color: $color-secondary;
}

h2 {
    font-size: 3.5rem;
    font-weight: 700;
}

p {
    font-size: 2rem;
}