// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$color-primary: #FFE814;
$color-secondary: #030303;
$color-light: #EBEBEB;

$container-width: 1280px;
$container-width-wide: 1600px;