.project-detail {
    &-header {
        display: flex;
        align-items: center;
        height: 75vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: $color-primary;
    }
    
    &-intro {
        display: flex;
        flex-wrap: wrap;
        padding: 10rem 0;

        h1, p {
            margin: 0 0 3.2rem 0;
        }

        &__left {
            flex: 1 1 45%;
        }

        &__right {
            flex: 1 1 55%;
        }
    }   

    &-media {
        margin-bottom: 3.2rem;
    }

    &__category {
        margin: 1rem 0;
        font-size: 1.8rem;        
    }

    &__title {
        margin: 1rem 0;
        font-size: 7rem;
    }
}

.tag-list {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}