.project-detail__next {
    z-index: 99;
    transition: all .6s ease;
    cursor: pointer;

    &::after {
        content: '\0279E';
        padding-left: 8px;
    }
}

.bar {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 150px;
    margin-top: 6.4rem;
    background-color: $color-primary;
    overflow: hidden;

    &-link {
        padding: 0;
        margin: 0;
        background: none;
    }

    &::before {
        content: '';
        z-index: 9999;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: lighten($color-secondary, 15);
        transition: all .6s ease-in-out;
    }

    &::after {
        content: '';
        z-index: 99;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-secondary;
        transition: all .3s ease-in-out;
        transition-delay: .2s;
    }

    &:hover {
        color: white;

        .project-detail__next::after {
            padding-left: 16px;
        }

        &::before {
            top: -100%;
        }
        
        &::after {
            top: 0;
        }
    } 
}