.project-item {
    display: flex;
    flex-direction: column;
    height: 560px;
    // background-image: url('../images/jourly-mockup.png'), linear-gradient(90deg, darken($color-primary, 7) 0%, $color-primary 100%);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-color: $color-primary;
    overflow: hidden;
    
    &__text {
        color: white;
        padding: 6.4rem 0rem 0rem 6.4rem;
    }
}

.project-title {
    margin: 0 0 1rem 0;
}

.project-subtitle {
    font-size: 2rem;
}