.tag {
    display: block;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 1.6rem;
    color: #FFF;
    border-radius: 8px;
    background-color: $color-secondary;
}