.footer {
    width: 100%;
    padding: 8rem 0 6rem 0;
    background-color: $color-secondary;
    
    @include media-query-phone {
        padding: 4rem 0 2rem 0;
    }
    
    h2 {
        color: lighten($color-secondary, 30);
        margin-top: 0;
        margin-bottom: 2.4rem;
    }

    .btn {
        margin: 0;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;

        @include media-query-phone {
            justify-content: flex-start;
        }
    }

    &__bottom {
        padding-top: 3.2rem;
    }

    &__mail {
        color: #FFF;
        margin: 0;
        padding: 0;
        background: none;

        &:hover {
            color: $color-primary;
        }
    }

    &__social {
        display: flex;
        flex-wrap: wrap;
        font-size: 2rem;

        &--link {
            color: lighten($color-secondary, 30);
            padding: 0;
            margin: 0 1.6rem 0 0;
            background: none;
        }
    }

    &__copyright {
        font-size: 1.5rem;
        color: lighten($color-secondary, 30);
    }
}

.resume {
    color: #FFF !important;
    margin-bottom: 2.4rem;
}

@include media-query-phone {
    .footer-right {
        text-align: left;
        margin-top: 3.2rem;
    }
}